{% extends "base.html" %}
{% block title %}Iscriviti{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
    <a href="/">Torna indietro</a>
    <div class="col-4 offset-md-4 bg-light p-4 border rounded">
        <form action="/signup" method="POST" enctype="multipart/form-data">
            
            
            <div class="col-md-6">
                <label for="inputusername" class="form-label">username</label>
                <input type="username" class="form-control" name = 'username' id="inputusername">
            </div>
            <div class="col-md-6">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" name = 'password' id="inputPassword">
            </div>
            <div class="col-12">
                <label for="inputnome" class="form-label">Nome</label>
                <input type="text" class="form-control" name = 'name' id="inputnome" placeholder="Mario">
              </div>
            <div class="col-12">
                <label for="inputcognome" class="form-label">Cognome</label>
                <input type="text" class="form-control" name = 'surname' id="inputcognome" placeholder="Rossi">
            </div>
  
          
            
            <div class="col-12" id = "iscriviti">
              <button type="submit" class="btn btn-primary">Iscriviti</button>
            </div>
          </form>
    </div>
{% endblock %}